{% block image_file_widget %}
  {% set method = form.get('method') %}
  {% set filter = form.get('filter') %}
  {% set object = form.parent.vars.value %}
  {% spaceless %}
    {% if call_entity_method(object, method) %}
      <div class="gallery-thumb">
        {% if filter %}
          <img src="{{ vich_uploader_asset(object, form.get('name')) | apply_filter(filter) }}"/>
        {% else %}
          <img src="{{ vich_uploader_asset(object, form.get('name')) }}"/>
        {% endif %}
      </div>
    {% endif %}

    {% set type = type|default('text') %}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    {% set delete_name = form.get('name') ~ '_delete' %}
    {% if call_entity_method(object, method) and form.parent[delete_name] is defined %}
      <div class="gallery-thumb-delete">{{ form_widget(form.parent[delete_name]) }} {{ form_label(form.parent[delete_name], null, {'attr' : {'style' : 'float: none'}}) }}</div>
    {% endif %}
  {% endspaceless %}
{% endblock image_file_widget %}