{% block image_widget %}
  {% set property = form.vars.object_property | default(form.vars.name) %}
  {% set preview = form.vars.preview %}
  {% if form.vars.object | is_uploaded(property) %}
    <div class="thumbnail-holder">
      {% if preview %}
      <a href="{{ vich_uploader_asset(form.vars.object, property) | imagine_filter(preview) }}" class="colorbox">
      {% endif %}
        <img class="thumbnail"
             src="{{ vich_uploader_asset(form.vars.object, property) | imagine_filter(form.vars.filter) }}" alt=""/>
      {% if preview %}</a>{% endif %}
    </div>
  {% endif %}
  {{ block('form_widget_simple') }}
{% endblock image_widget %}

{% block image_delete_widget %}
  <div class="image-delete-widget">
    {{ form_row(form.file) }}
    {% if form.parent.vars.data | is_uploaded(form.vars.name) %}
      {{ form_row(form.delete) }}
    {% endif %}
  </div>
{% endblock image_delete_widget %}

{% block file_delete_widget %}
  <div class="file-delete-widget">
    <p>{{ form.parent.vars.data | is_uploaded(form.vars.name) }}</p>
    {{ form_row(form.file) }}
    {% if form.parent.vars.data | is_uploaded(form.vars.name) %}
      {{ form_row(form.delete) }}
    {% endif %}
  </div>
{% endblock file_delete_widget %}

